#index-title.title {
  
}
#index-title {
  font-size: 20px;
  font-weight: bold;
  color: red;
}
.title {
  font-size: 30px;
  color: blue;
  margin-left: 20px;
}
#index-description {
  color: #999;
}
