html {
  font-size: 16px;
}
body {
  font-size: 0.9rem;
  margin: 0;
  padding: 0.7rem;
  line-height: 1rem;
}
a {
  color: #0275d8;
  text-decoration: none;
}
ul, ol {
  -moz-padding-start: 20px;
  -webkit-padding-start: 20px;
  -khtml-padding-start: 20px;
  -o-padding-start: 20px;
  padding-start: 20px;
}

.modified-date {
  text-align: right;
}
.link-container {
  margin-bottom: 20px;
}
.link-container * {
  vertical-align: middle;
}
.link-container img.arrow {
  height: 22px;
}

table.wiki-table {
  /*width: 100%;*/
  max-width: 600px;
  margin: 0 auto;
  border: 2px solid #b38b6e;
  border-collapse: collapse;
  margin-bottom: 20px;
}
table.wiki-table tr td {
  border: 1px solid #ccc;
  padding: 0.3125rem;
  text-align: center;
}
table.wiki-table tr td:nth-child(1) {
  background-color: #b38b6e;
  color: white;
}
table.wiki-table tr td:nth-child(2) {
  white-space: pre-line;
}
table.wiki-table tr:nth-child(1) td {
  background-color: white;
}
table.wiki-table tr td img {
  max-width: 100%;
}

.table-of-contents {
  border: 1px solid #ccc;
  padding: 12px 20px 18px 20px;
  margin-left: 5px;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.blockquote {
  white-space: pre-line;
  line-height: 1.3rem;
  border: 2px dashed #ccc;
  border-left: 5px solid #71BC6D;
  padding: 10px;
}
.blockquote p {
  margin: 0;
}

.block, .inline, .inline-block {
  border-width: 3px;
  border-style: solid;
}
.block {
  border-color: red;
}
.inline {
  display: inline;
  border-color: blue;
  height: 50px;
}
.inline-block {
  display: inline-block;
  border-color: green;
  height: 150px;
}
