@import 'variables';
$top-nav-height: 60px;

nav.top-nav {
  background-color: white;
  height: $top-nav-height;
  padding: 0 32px;
  ul {
    height: $top-nav-height;

    &.top-nav-left-list {
      float: left;
    }
    &.top-nav-right-list {
      float: right;
    }

    li {
      height: $top-nav-height;
      line-height: $top-nav-height;
      float: left;

      &.menu-logo, &.menu-search {
        img {
          vertical-align: middle;
        }
      }
      &.menu-logo {
        margin: 0 20px 0 0;
      }
      &.menu-search {
        margin: 0 10px 0 0;
      }
      &.menu-item {
        a {
          display: inline-block;
          height: $top-nav-height;
          padding: 0 10px;
          box-sizing: border-box;
          transition: 120ms;

          img {
            vertical-align: middle;
          }
          &:hover {
            color: $color-theme;
            border-bottom: 1px solid $color-theme;
          }
        }
      }
      &.menu-btn {
        margin: 0 0 0 10px;
      }
    }
  }
}

.container {
  width: 960px;
  margin: 0 auto;
  padding-top: 39px;
  padding-bottom: 78px;

  section.container-section {
    float: left;
    width: 720px;
    // background-color: rgba(255, 0, 0, 0.3);
  }
  aside.container-aside {
    float: left;
    margin-left: 20px;
    width: 220px;
    // background-color: rgba(0, 255, 0, 0.3);
  }
}
section.container-section ul.project-list {
  li.project-card {
    float: left;
    width: 220px;
    margin: 0 10px;
    background-color: #fff;
    // height: 50px;
    // background-color: rgba(0,0,255,0.2);
    // border: 1px solid black;
    box-sizing: border-box;

    p { margin: 0; }

    img.card-image {
      max-width: 100%;
    }
    .card-top {
      height: 139px;
      padding: 13px 19px 0;
      border-bottom: 3px solid $color-theme;

      p.card-title {
        font-size: 14px;
        line-height: 1.375;
        color: $color-text-h;
      }
      p.card-owner {
        font-size: 13px;
        line-height: 1.6;
        color: $color-text-h;
      }
      p.card-description {
        font-size: 13px;
        line-height: 1.7;
      }
    }
    .card-bottom {

    }
  }
}
