@import 'variables';
$top-nav-height: 60px;

nav.top-nav {
  background-color: white;
  height: $top-nav-height;
  padding: 0 32px;
  ul {
    height: $top-nav-height;

    &.top-nav-left-list {
      float: left;
    }
    &.top-nav-right-list {
      float: right;
    }

    li {
      height: $top-nav-height;
      line-height: $top-nav-height;
      float: left;

      &.menu-logo, &.menu-search {
        img {
          vertical-align: middle;
        }
      }
      &.menu-logo {
        margin: 0 20px 0 0;
      }
      &.menu-search {
        margin: 0 10px 0 0;
      }
      &.menu-item {
        a {
          display: inline-block;
          height: $top-nav-height;
          padding: 0 10px;
          box-sizing: border-box;
          transition: 120ms;

          img {
            vertical-align: middle;
          }
          &:hover {
            color: $color-theme;
            border-bottom: 1px solid $color-theme;
          }
        }
      }
      &.menu-btn {
        margin: 0 0 0 10px;
      }
    }
  }
}
